In [1]:
import pandas as pd

In [2]:
import numpy as np

import matplotlib.pyplot as plt

In [4]:
s = pd.Series([1,3,5,np.nan,6,8])

In [5]:
s

0    1.0
1    3.0
2    5.0
3    NaN
4    6.0
5    8.0
dtype: float64

In [6]:
dates = pd.date_range('20130101', periods=6)

In [7]:
dates

DatetimeIndex(['2013-01-01', '2013-01-02', '2013-01-03', '2013-01-04',
               '2013-01-05', '2013-01-06'],
              dtype='datetime64[ns]', freq='D')

In [8]:
df = pd.DataFrame(np.random.randn(6,4), index=dates, columns=list('ABCD'))

In [9]:
df

                   A         B         C         D
2013-01-01 -0.376460  0.859699 -0.958447 -0.523839
2013-01-02 -1.730632 -0.802890 -0.897103 -1.134865
2013-01-03  0.336310 -0.087839  0.662318 -0.878529
2013-01-04 -0.474507 -0.039220 -0.061532 -1.000884
2013-01-05 -0.585381 -1.584209  1.238953 -1.242376
2013-01-06  0.058988 -0.766649  0.642791  0.024440

In [10]:
df2 = pd.DataFrame({'A' : 1.,
                    'B' : pd.Timestamp('20130102'),
                    'C' : pd.Series(1,index=list(range(4)),dtype='float32'),
                    'D' : np.array([3] * 4,dtype='int32'),
                    'E' : pd.Categorical(["test","train","test","train"]),
                    'F' : 'foo' })

In [11]:
df2

     A          B    C  D      E    F
0  1.0 2013-01-02  1.0  3   test  foo
1  1.0 2013-01-02  1.0  3  train  foo
2  1.0 2013-01-02  1.0  3   test  foo
3  1.0 2013-01-02  1.0  3  train  foo

In [12]:
df2.dtypes

A           float64
B    datetime64[ns]
C           float32
D             int32
E          category
F            object
dtype: object

In [13]:
df2.A                  df2.boxplot
df2.abs                df2.C
df2.add                df2.clip
df2.add_prefix         df2.clip_lower
df2.add_suffix         df2.clip_upper
df2.align              df2.columns
df2.all                df2.combine
df2.any                df2.combineAdd
df2.append             df2.combine_first
df2.apply              df2.combineMult
df2.applymap           df2.compound
df2.as_blocks          df2.consolidate
df2.asfreq             df2.convert_objects
df2.as_matrix          df2.copy
df2.astype             df2.corr
df2.at                 df2.corrwith
df2.at_time            df2.count
df2.axes               df2.cov
df2.B                  df2.cummax
df2.between_time       df2.cummin
df2.bfill              df2.cumprod
df2.blocks             df2.cumsum
df2.bool               df2.D

SyntaxError: invalid syntax (<ipython-input-13-718b10675e1e>, line 1)

In [14]:
df.head()

                   A         B         C         D
2013-01-01 -0.376460  0.859699 -0.958447 -0.523839
2013-01-02 -1.730632 -0.802890 -0.897103 -1.134865
2013-01-03  0.336310 -0.087839  0.662318 -0.878529
2013-01-04 -0.474507 -0.039220 -0.061532 -1.000884
2013-01-05 -0.585381 -1.584209  1.238953 -1.242376

In [15]:
df.tail(3)

                   A         B         C         D
2013-01-04 -0.474507 -0.039220 -0.061532 -1.000884
2013-01-05 -0.585381 -1.584209  1.238953 -1.242376
2013-01-06  0.058988 -0.766649  0.642791  0.024440

In [16]:
df.index

DatetimeIndex(['2013-01-01', '2013-01-02', '2013-01-03', '2013-01-04',
               '2013-01-05', '2013-01-06'],
              dtype='datetime64[ns]', freq='D')

In [17]:
df.columns

Index(['A', 'B', 'C', 'D'], dtype='object')

In [18]:
df.values

array([[-0.37645987,  0.85969901, -0.95844707, -0.52383905],
       [-1.73063191, -0.80289025, -0.89710332, -1.13486471],
       [ 0.33630967, -0.08783869,  0.66231828, -0.87852869],
       [-0.47450685, -0.03922015, -0.06153166, -1.00088442],
       [-0.58538143, -1.58420901,  1.23895289, -1.24237583],
       [ 0.05898812, -0.76664894,  0.64279115,  0.02443998]])

In [19]:
df.describe()

              A         B         C         D
count  6.000000  6.000000  6.000000  6.000000
mean  -0.461947 -0.403518  0.104497 -0.792675
std    0.712860  0.838269  0.899837  0.471168
min   -1.730632 -1.584209 -0.958447 -1.242376
25%   -0.557663 -0.793830 -0.688210 -1.101370
50%   -0.425483 -0.427244  0.290630 -0.939707
75%   -0.049874 -0.051375  0.657436 -0.612511
max    0.336310  0.859699  1.238953  0.024440

In [20]:
df.T

   2013-01-01  2013-01-02  2013-01-03  2013-01-04  2013-01-05  2013-01-06
A   -0.376460   -1.730632    0.336310   -0.474507   -0.585381    0.058988
B    0.859699   -0.802890   -0.087839   -0.039220   -1.584209   -0.766649
C   -0.958447   -0.897103    0.662318   -0.061532    1.238953    0.642791
D   -0.523839   -1.134865   -0.878529   -1.000884   -1.242376    0.024440

In [21]:
df.sort_index(axis=1, ascending=False)

                   D         C         B         A
2013-01-01 -0.523839 -0.958447  0.859699 -0.376460
2013-01-02 -1.134865 -0.897103 -0.802890 -1.730632
2013-01-03 -0.878529  0.662318 -0.087839  0.336310
2013-01-04 -1.000884 -0.061532 -0.039220 -0.474507
2013-01-05 -1.242376  1.238953 -1.584209 -0.585381
2013-01-06  0.024440  0.642791 -0.766649  0.058988

In [22]:
df.sort_values(by='B')

                   A         B         C         D
2013-01-05 -0.585381 -1.584209  1.238953 -1.242376
2013-01-02 -1.730632 -0.802890 -0.897103 -1.134865
2013-01-06  0.058988 -0.766649  0.642791  0.024440
2013-01-03  0.336310 -0.087839  0.662318 -0.878529
2013-01-04 -0.474507 -0.039220 -0.061532 -1.000884
2013-01-01 -0.376460  0.859699 -0.958447 -0.523839

In [23]:
df['A']

2013-01-01   -0.376460
2013-01-02   -1.730632
2013-01-03    0.336310
2013-01-04   -0.474507
2013-01-05   -0.585381
2013-01-06    0.058988
Freq: D, Name: A, dtype: float64

In [24]:
df[0:3]

                   A         B         C         D
2013-01-01 -0.376460  0.859699 -0.958447 -0.523839
2013-01-02 -1.730632 -0.802890 -0.897103 -1.134865
2013-01-03  0.336310 -0.087839  0.662318 -0.878529

In [25]:
df['20130102':'20130104']

                   A         B         C         D
2013-01-02 -1.730632 -0.802890 -0.897103 -1.134865
2013-01-03  0.336310 -0.087839  0.662318 -0.878529
2013-01-04 -0.474507 -0.039220 -0.061532 -1.000884

In [26]:
df.loc[dates[0]]

A   -0.376460
B    0.859699
C   -0.958447
D   -0.523839
Name: 2013-01-01 00:00:00, dtype: float64

In [27]:
df.loc[:,['A','B']]

                   A         B
2013-01-01 -0.376460  0.859699
2013-01-02 -1.730632 -0.802890
2013-01-03  0.336310 -0.087839
2013-01-04 -0.474507 -0.039220
2013-01-05 -0.585381 -1.584209
2013-01-06  0.058988 -0.766649

In [28]:
df.loc['20130102':'20130104',['A','B']]

                   A         B
2013-01-02 -1.730632 -0.802890
2013-01-03  0.336310 -0.087839
2013-01-04 -0.474507 -0.039220

In [29]:
df.loc['20130102',['A','B']]

A   -1.730632
B   -0.802890
Name: 2013-01-02 00:00:00, dtype: float64

In [30]:
df.loc[dates[0],'A']

-0.37645986643552898

In [31]:
df.at[dates[0],'A']

-0.37645986643552898

In [32]:
df.iloc[3]

A   -0.474507
B   -0.039220
C   -0.061532
D   -1.000884
Name: 2013-01-04 00:00:00, dtype: float64

In [33]:
df.iloc[3:5,0:2]

                   A         B
2013-01-04 -0.474507 -0.039220
2013-01-05 -0.585381 -1.584209

In [34]:
df.iloc[[1,2,4],[0,2]]

                   A         C
2013-01-02 -1.730632 -0.897103
2013-01-03  0.336310  0.662318
2013-01-05 -0.585381  1.238953

In [35]:
df.iloc[1:3,:]

                   A         B         C         D
2013-01-02 -1.730632 -0.802890 -0.897103 -1.134865
2013-01-03  0.336310 -0.087839  0.662318 -0.878529

In [36]:
df.iloc[:,1:3]

                   B         C
2013-01-01  0.859699 -0.958447
2013-01-02 -0.802890 -0.897103
2013-01-03 -0.087839  0.662318
2013-01-04 -0.039220 -0.061532
2013-01-05 -1.584209  1.238953
2013-01-06 -0.766649  0.642791

In [37]:
df.iloc[1,1]

-0.8028902469415764

In [38]:
df.iat[1,1]

-0.8028902469415764

In [39]:
df[df.A > 0]

                   A         B         C         D
2013-01-03  0.336310 -0.087839  0.662318 -0.878529
2013-01-06  0.058988 -0.766649  0.642791  0.024440

In [40]:
df[df > 0]

                   A         B         C        D
2013-01-01       NaN  0.859699       NaN      NaN
2013-01-02       NaN       NaN       NaN      NaN
2013-01-03  0.336310       NaN  0.662318      NaN
2013-01-04       NaN       NaN       NaN      NaN
2013-01-05       NaN       NaN  1.238953      NaN
2013-01-06  0.058988       NaN  0.642791  0.02444

In [41]:
df2 = df.copy()

In [42]:
df2['E'] = ['one', 'one','two','three','four','three']

In [43]:
df2

                   A         B         C         D      E
2013-01-01 -0.376460  0.859699 -0.958447 -0.523839    one
2013-01-02 -1.730632 -0.802890 -0.897103 -1.134865    one
2013-01-03  0.336310 -0.087839  0.662318 -0.878529    two
2013-01-04 -0.474507 -0.039220 -0.061532 -1.000884  three
2013-01-05 -0.585381 -1.584209  1.238953 -1.242376   four
2013-01-06  0.058988 -0.766649  0.642791  0.024440  three

In [44]:
df2[df2['E'].isin(['two','four'])]

                   A         B         C         D     E
2013-01-03  0.336310 -0.087839  0.662318 -0.878529   two
2013-01-05 -0.585381 -1.584209  1.238953 -1.242376  four

In [45]:
s1 = pd.Series([1,2,3,4,5,6], index=pd.date_range('20130102', periods=6))

In [46]:
s1

2013-01-02    1
2013-01-03    2
2013-01-04    3
2013-01-05    4
2013-01-06    5
2013-01-07    6
Freq: D, dtype: int64

In [47]:
df['F'] = s1

In [48]:
df.at[dates[0],'A'] = 0

In [49]:
df.iat[0,1] = 0

In [50]:
df.loc[:,'D'] = np.array([5] * len(df))

In [51]:
df

                   A         B         C  D    F
2013-01-01  0.000000  0.000000 -0.958447  5  NaN
2013-01-02 -1.730632 -0.802890 -0.897103  5  1.0
2013-01-03  0.336310 -0.087839  0.662318  5  2.0
2013-01-04 -0.474507 -0.039220 -0.061532  5  3.0
2013-01-05 -0.585381 -1.584209  1.238953  5  4.0
2013-01-06  0.058988 -0.766649  0.642791  5  5.0

In [52]:
df2 = df.copy()

In [53]:
df2[df2 > 0] = -df2

In [54]:
df2

                   A         B         C  D    F
2013-01-01  0.000000  0.000000 -0.958447 -5  NaN
2013-01-02 -1.730632 -0.802890 -0.897103 -5 -1.0
2013-01-03 -0.336310 -0.087839 -0.662318 -5 -2.0
2013-01-04 -0.474507 -0.039220 -0.061532 -5 -3.0
2013-01-05 -0.585381 -1.584209 -1.238953 -5 -4.0
2013-01-06 -0.058988 -0.766649 -0.642791 -5 -5.0

In [55]:
df1 = df.reindex(index=dates[0:4], columns=list(df.columns) + ['E'])

In [56]:
df1.loc[dates[0]:dates[1],'E'] = 1

In [57]:
df1

                   A         B         C  D    F    E
2013-01-01  0.000000  0.000000 -0.958447  5  NaN  1.0
2013-01-02 -1.730632 -0.802890 -0.897103  5  1.0  1.0
2013-01-03  0.336310 -0.087839  0.662318  5  2.0  NaN
2013-01-04 -0.474507 -0.039220 -0.061532  5  3.0  NaN

In [58]:
df1.dropna(how='any')

                   A        B         C  D    F    E
2013-01-02 -1.730632 -0.80289 -0.897103  5  1.0  1.0

In [59]:
df1.fillna(value=5)

                   A         B         C  D    F    E
2013-01-01  0.000000  0.000000 -0.958447  5  5.0  1.0
2013-01-02 -1.730632 -0.802890 -0.897103  5  1.0  1.0
2013-01-03  0.336310 -0.087839  0.662318  5  2.0  5.0
2013-01-04 -0.474507 -0.039220 -0.061532  5  3.0  5.0

In [60]:
pd.isnull(df1)

                A      B      C      D      F      E
2013-01-01  False  False  False  False   True  False
2013-01-02  False  False  False  False  False  False
2013-01-03  False  False  False  False  False   True
2013-01-04  False  False  False  False  False   True

In [61]:
df.mean()

A   -0.399204
B   -0.546801
C    0.104497
D    5.000000
F    3.000000
dtype: float64

In [62]:
df.mean(1)

2013-01-01    1.010388
2013-01-02    0.513875
2013-01-03    1.582158
2013-01-04    1.484948
2013-01-05    1.613872
2013-01-06    1.987026
Freq: D, dtype: float64

In [63]:
s = pd.Series([1,3,5,np.nan,6,8], index=dates).shift(2)

In [64]:
s

2013-01-01    NaN
2013-01-02    NaN
2013-01-03    1.0
2013-01-04    3.0
2013-01-05    5.0
2013-01-06    NaN
Freq: D, dtype: float64

In [65]:
df.sub(s, axis='index')

                   A         B         C    D    F
2013-01-01       NaN       NaN       NaN  NaN  NaN
2013-01-02       NaN       NaN       NaN  NaN  NaN
2013-01-03 -0.663690 -1.087839 -0.337682  4.0  1.0
2013-01-04 -3.474507 -3.039220 -3.061532  2.0  0.0
2013-01-05 -5.585381 -6.584209 -3.761047  0.0 -1.0
2013-01-06       NaN       NaN       NaN  NaN  NaN

In [66]:
df.apply(np.cumsum)

                   A         B         C   D     F
2013-01-01  0.000000  0.000000 -0.958447   5   NaN
2013-01-02 -1.730632 -0.802890 -1.855550  10   1.0
2013-01-03 -1.394322 -0.890729 -1.193232  15   3.0
2013-01-04 -1.868829 -0.929949 -1.254764  20   6.0
2013-01-05 -2.454211 -2.514158 -0.015811  25  10.0
2013-01-06 -2.395222 -3.280807  0.626980  30  15.0

In [67]:
df.apply(lambda x: x.max() - x.min())

A    2.066942
B    1.584209
C    2.197400
D    0.000000
F    4.000000
dtype: float64

In [68]:
s = pd.Series(np.random.randint(0, 7, size=10))

In [69]:
s

0    0
1    6
2    4
3    0
4    2
5    4
6    4
7    2
8    3
9    2
dtype: int32

In [70]:
s.value_counts()

4    3
2    3
0    2
6    1
3    1
dtype: int64

In [71]:
s = pd.Series(['A', 'B', 'C', 'Aaba', 'Baca', np.nan, 'CABA', 'dog', 'cat'])

In [72]:
s.str.lower()

0       a
1       b
2       c
3    aaba
4    baca
5     NaN
6    caba
7     dog
8     cat
dtype: object

In [73]:
df = pd.DataFrame(np.random.randn(10, 4))

In [74]:
df

          0         1         2         3
0  0.288582  1.729575  0.282963  0.890097
1  0.660435 -1.548608 -0.193463  0.586756
2 -0.164238 -0.792997  0.944416 -0.728042
3 -0.593603  0.038868  0.093910  0.100717
4 -0.220005 -0.936033 -1.845436 -0.113558
5  1.713938 -0.596728 -0.385038 -1.143621
6 -1.190933  0.863845  0.792658 -1.524841
7 -0.405555 -0.596216 -0.521725 -0.009437
8 -1.099079  0.424075  0.322014  1.392580
9  1.933372  1.272387 -0.306589  1.106694

In [75]:
pieces = [df[:3], df[3:7], df[7:]]

In [76]:
pd.concat(pieces)

          0         1         2         3
0  0.288582  1.729575  0.282963  0.890097
1  0.660435 -1.548608 -0.193463  0.586756
2 -0.164238 -0.792997  0.944416 -0.728042
3 -0.593603  0.038868  0.093910  0.100717
4 -0.220005 -0.936033 -1.845436 -0.113558
5  1.713938 -0.596728 -0.385038 -1.143621
6 -1.190933  0.863845  0.792658 -1.524841
7 -0.405555 -0.596216 -0.521725 -0.009437
8 -1.099079  0.424075  0.322014  1.392580
9  1.933372  1.272387 -0.306589  1.106694

In [77]:
left = pd.DataFrame({'key': ['foo', 'foo'], 'lval': [1, 2]})

In [78]:
right = pd.DataFrame({'key': ['foo', 'foo'], 'rval': [4, 5]})

In [79]:
left

   key  lval
0  foo     1
1  foo     2

In [80]:
right

   key  rval
0  foo     4
1  foo     5

In [81]:
pd.merge(left, right, on='key')

   key  lval  rval
0  foo     1     4
1  foo     1     5
2  foo     2     4
3  foo     2     5

In [82]:
df = pd.DataFrame(np.random.randn(8, 4), columns=['A','B','C','D'])

In [83]:
df

          A         B         C         D
0 -0.477758 -0.010911  0.382816 -0.362028
1  1.255972  0.160663  1.901620 -0.041863
2  0.872562 -0.059692 -1.279824  0.641284
3  1.236204 -0.404394  1.598555 -0.770311
4 -0.376488  0.297722 -1.458211 -0.005275
5  0.817383 -1.391037 -1.670626  0.601689
6 -1.231504 -1.435515  1.179011 -0.566869
7  0.810255 -0.284596  0.596403 -0.358429

In [84]:
s = df.iloc[3]

In [85]:
df.append(s, ignore_index=True)

          A         B         C         D
0 -0.477758 -0.010911  0.382816 -0.362028
1  1.255972  0.160663  1.901620 -0.041863
2  0.872562 -0.059692 -1.279824  0.641284
3  1.236204 -0.404394  1.598555 -0.770311
4 -0.376488  0.297722 -1.458211 -0.005275
5  0.817383 -1.391037 -1.670626  0.601689
6 -1.231504 -1.435515  1.179011 -0.566869
7  0.810255 -0.284596  0.596403 -0.358429
8  1.236204 -0.404394  1.598555 -0.770311

In [86]:
df = pd.DataFrame({'A' : ['foo', 'bar', 'foo', 'bar',
                            'foo', 'bar', 'foo', 'foo'],
                    'B' : ['one', 'one', 'two', 'three',
                            'two', 'two', 'one', 'three'],
                    'C' : np.random.randn(8),
                    'D' : np.random.randn(8)})

In [87]:
df

     A      B         C         D
0  foo    one  0.439225  1.540637
1  bar    one  0.607508 -0.160075
2  foo    two -0.179632  0.177545
3  bar  three  0.779358 -0.453204
4  foo    two  0.675787  0.678545
5  bar    two  0.139450 -1.460717
6  foo    one -0.218886  2.999360
7  foo  three  0.520531 -0.987434

In [88]:
df.groupby('A').sum()

            C         D
A
bar  1.526316 -2.073996
foo  1.237025  4.408654

In [89]:
df.groupby(['A','B']).sum()

                  C         D
A   B
bar one    0.607508 -0.160075
    three  0.779358 -0.453204
    two    0.139450 -1.460717
foo one    0.220339  4.539997
    three  0.520531 -0.987434
    two    0.496155  0.856091

In [90]:
tuples = list(zip(*[['bar', 'bar', 'baz', 'baz',
                    'foo', 'foo', 'qux', 'qux'],
                    ['one', 'two', 'one', 'two',
                    'one', 'two', 'one', 'two']]))

In [91]:
index = pd.MultiIndex.from_tuples(tuples, names=['first', 'second'])

In [92]:
df = pd.DataFrame(np.random.randn(8, 2), index=index, columns=['A', 'B'])

In [93]:
df2 = df[:4]

In [94]:
df2

                     A         B
first second
bar   one     1.299013  0.293092
      two     1.949414  0.512387
baz   one     0.267328 -0.059476
      two     0.479537 -0.715786

In [95]:
stacked = df2.stack()

In [96]:
stacked

first  second
bar    one     A    1.299013
               B    0.293092
       two     A    1.949414
               B    0.512387
baz    one     A    0.267328
               B   -0.059476
       two     A    0.479537
               B   -0.715786
dtype: float64

In [97]:
stacked.unstack()

                     A         B
first second
bar   one     1.299013  0.293092
      two     1.949414  0.512387
baz   one     0.267328 -0.059476
      two     0.479537 -0.715786

In [98]:
stacked.unstack(1)

second        one       two
first
bar   A  1.299013  1.949414
      B  0.293092  0.512387
baz   A  0.267328  0.479537
      B -0.059476 -0.715786

In [99]:
stacked.unstack(0)

first          bar       baz
second
one    A  1.299013  0.267328
       B  0.293092 -0.059476
two    A  1.949414  0.479537
       B  0.512387 -0.715786

In [100]:
df = pd.DataFrame({'A' : ['one', 'one', 'two', 'three'] * 3,
                    'B' : ['A', 'B', 'C'] * 4,
                    'C' : ['foo', 'foo', 'foo', 'bar', 'bar', 'bar'] * 2,
                    'D' : np.random.randn(12),
                    'E' : np.random.randn(12)})

In [101]:
df

        A  B    C         D         E
0     one  A  foo -1.983189 -0.447476
1     one  B  foo -0.291405 -0.440978
2     two  C  foo  1.395505  1.501378
3   three  A  bar -1.497897  0.969154
4     one  B  bar  0.540710  0.854187
5     one  C  bar -1.516840  0.416362
6     two  A  foo  1.069464  1.166171
7   three  B  foo -0.127908 -0.976170
8     one  C  foo -1.725760  0.568707
9     one  A  bar -0.599159 -0.225993
10    two  B  bar -0.428666 -1.382062
11  three  C  bar -0.230843 -0.031818

In [102]:
pd.pivot_table(df, values='D', index=['A', 'B'], columns=['C'])

C             bar       foo
A     B
one   A -0.599159 -1.983189
      B  0.540710 -0.291405
      C -1.516840 -1.725760
three A -1.497897       NaN
      B       NaN -0.127908
      C -0.230843       NaN
two   A       NaN  1.069464
      B -0.428666       NaN
      C       NaN  1.395505

In [103]:
rng = pd.date_range('1/1/2012', periods=100, freq='S')

In [104]:
ts = pd.Series(np.random.randint(0, 500, len(rng)), index=rng)

In [105]:
ts.resample('5Min').sum()

2012-01-01    25446
Freq: 5T, dtype: int32

In [106]:
rng = pd.date_range('3/6/2012 00:00', periods=5, freq='D')

In [107]:
ts = pd.Series(np.random.randn(len(rng)), rng)

In [108]:
ts

2012-03-06   -0.673644
2012-03-07    0.775660
2012-03-08   -0.750924
2012-03-09   -1.468760
2012-03-10   -0.576187
Freq: D, dtype: float64

In [109]:
ts_utc = ts.tz_localize('UTC')

In [110]:
ts_utc

2012-03-06 00:00:00+00:00   -0.673644
2012-03-07 00:00:00+00:00    0.775660
2012-03-08 00:00:00+00:00   -0.750924
2012-03-09 00:00:00+00:00   -1.468760
2012-03-10 00:00:00+00:00   -0.576187
Freq: D, dtype: float64

In [111]:
ts_utc.tz_convert('US/Eastern')

2012-03-05 19:00:00-05:00   -0.673644
2012-03-06 19:00:00-05:00    0.775660
2012-03-07 19:00:00-05:00   -0.750924
2012-03-08 19:00:00-05:00   -1.468760
2012-03-09 19:00:00-05:00   -0.576187
Freq: D, dtype: float64

In [112]:
rng = pd.date_range('1/1/2012', periods=5, freq='M')

In [113]:
ts = pd.Series(np.random.randn(len(rng)), index=rng)

In [114]:
ts

2012-01-31   -0.667910
2012-02-29    0.827453
2012-03-31   -0.064627
2012-04-30    1.745744
2012-05-31    0.804139
Freq: M, dtype: float64

In [115]:
ps = ts.to_period()

In [116]:
ps

2012-01   -0.667910
2012-02    0.827453
2012-03   -0.064627
2012-04    1.745744
2012-05    0.804139
Freq: M, dtype: float64

In [117]:
ps.to_timestamp()

2012-01-01   -0.667910
2012-02-01    0.827453
2012-03-01   -0.064627
2012-04-01    1.745744
2012-05-01    0.804139
Freq: MS, dtype: float64

In [118]:
prng = pd.period_range('1990Q1', '2000Q4', freq='Q-NOV')

In [119]:
ts = pd.Series(np.random.randn(len(prng)), prng)

In [120]:
ts.index = (prng.asfreq('M', 'e') + 1).asfreq('H', 's') + 9

In [121]:
ts.head()

1990-03-01 09:00   -0.560772
1990-06-01 09:00    1.574855
1990-09-01 09:00   -0.674105
1990-12-01 09:00   -0.949071
1991-03-01 09:00   -1.117714
Freq: H, dtype: float64

In [122]:
df = pd.DataFrame({"id":[1,2,3,4,5,6], "raw_grade":['a', 'b', 'b', 'a', 'a', 'e']})

In [123]:
df["grade"] = df["raw_grade"].astype("category")

In [124]:
df["grade"]

0    a
1    b
2    b
3    a
4    a
5    e
Name: grade, dtype: category
Categories (3, object): [a, b, e]

In [125]:
df["grade"].cat.categories = ["very good", "good", "very bad"]

In [126]:
df["grade"] = df["grade"].cat.set_categories(["very bad", "bad", "medium", "good", "very good"])

In [127]:
df["grade"]

0    very good
1         good
2         good
3    very good
4    very good
5     very bad
Name: grade, dtype: category
Categories (5, object): [very bad, bad, medium, good, very good]

In [128]:
df.sort_values(by="grade")

   id raw_grade      grade
5   6         e   very bad
1   2         b       good
2   3         b       good
0   1         a  very good
3   4         a  very good
4   5         a  very good

In [129]:
df.groupby("grade").size()

grade
very bad     1
bad          0
medium       0
good         2
very good    3
dtype: int64

In [130]:
ts = pd.Series(np.random.randn(1000), index=pd.date_range('1/1/2000', periods=1000))

In [131]:
ts = ts.cumsum()

In [132]:
ts.plot()

In [133]:
df = pd.DataFrame(np.random.randn(1000, 4), index=ts.index,
                    columns=['A', 'B', 'C', 'D'])

In [134]:
df = df.cumsum()

In [135]:
plt.figure(); df.plot(); plt.legend(loc='best')

In [136]:
df.to_csv('foo.csv')

In [137]:
pd.read_csv('foo.csv')

     Unnamed: 0          A          B          C          D
0    2000-01-01  -0.919928   1.081738  -0.186911   0.739160
1    2000-01-02  -0.270961   1.963527  -0.631587   1.103502
2    2000-01-03   1.882641   1.855084  -0.800290  -0.113979
3    2000-01-04   2.851876   0.610934   1.256351  -0.436652
4    2000-01-05   2.892188  -1.317954   0.619808   0.927255
5    2000-01-06   4.094697  -3.955532   0.684621   1.695725
6    2000-01-07   4.112604  -1.901707   1.726961   1.903704
7    2000-01-08   3.537720  -1.971962   3.350954   3.111633
8    2000-01-09   6.395478  -3.343957   4.235083   6.348437
9    2000-01-10   4.506804  -4.301666   3.761705   6.098201
10   2000-01-11   3.820394  -3.572915   3.535860   5.175339
11   2000-01-12   3.458146  -1.440174   3.829066   5.932258
12   2000-01-13   3.531780  -1.921043   3.650361   5.699988
13   2000-01-14   3.736585  -1.340193   4.088815   5.655213
14   2000-01-15   3.581510  -2.230484   4.011262   4.440446
15   2000-01-16   2.942614  -1.832305   1.933797   4.192433
16   2000-01-17   2.613332  -3.238367   3.494031   3.999749
17   2000-01-18   4.611238  -3.447495   3.062263   5.474165
18   2000-01-19   5.192262  -3.408610   2.271601   3.827952
19   2000-01-20   5.006160  -4.134497   2.538508   2.188973
20   2000-01-21   2.773312  -5.459046   4.621657   1.894303
21   2000-01-22   2.442135  -6.164332   4.293115   1.687484
22   2000-01-23   2.448109  -5.333358   3.358044   1.689873
23   2000-01-24   3.216344  -5.793664   1.978117   0.445122
24   2000-01-25   4.203174  -4.604009   2.586009  -0.223096
25   2000-01-26   4.586604  -3.984405   3.465251  -1.235843
26   2000-01-27   4.487645  -5.009677   3.423911  -1.737196
27   2000-01-28   4.199822  -6.279987   4.377824  -2.825481
28   2000-01-29   3.608006  -5.776560   5.752423  -2.129035
29   2000-01-30   3.084502  -6.091893   6.255134  -1.392003
..          ...        ...        ...        ...        ...
970  2002-08-28  22.780061  20.648851 -21.604012  15.742328
971  2002-08-29  22.933123  22.128622 -21.738120  17.014633
972  2002-08-30  21.626663  21.535557 -19.564974  18.556905
973  2002-08-31  22.726063  23.593569 -18.631220  16.634772
974  2002-09-01  22.108608  22.180184 -18.322060  17.469928
975  2002-09-02  21.590939  21.943505 -19.179314  17.762106
976  2002-09-03  21.607837  23.728029 -19.305509  17.661149
977  2002-09-04  22.023978  24.921333 -19.504191  19.775536
978  2002-09-05  21.640818  24.468493 -19.798892  20.102941
979  2002-09-06  21.890561  25.698231 -19.813194  19.117859
980  2002-09-07  21.126275  25.721356 -19.903672  21.125285
981  2002-09-08  20.368905  26.675317 -18.654863  20.866159
982  2002-09-09  20.584284  25.873043 -20.277675  20.736735
983  2002-09-10  22.968723  26.312450 -19.754751  21.056429
984  2002-09-11  22.690295  27.823611 -19.797484  22.113665
985  2002-09-12  23.848687  28.269865 -19.316796  23.027453
986  2002-09-13  22.588458  28.136116 -18.659905  24.512653
987  2002-09-14  23.894968  28.479373 -19.395166  25.239211
988  2002-09-15  25.778426  28.180056 -19.109166  26.221094
989  2002-09-16  25.906219  29.700355 -19.885183  27.449251
990  2002-09-17  27.853709  29.811529 -18.097719  26.578918
991  2002-09-18  25.296754  29.922515 -18.429311  24.477316
992  2002-09-19  25.091081  30.723172 -17.901037  25.596198
993  2002-09-20  24.869786  30.221543 -18.306350  28.173137
994  2002-09-21  24.342214  31.668983 -17.418617  27.616035
995  2002-09-22  26.174939  32.610929 -17.963764  27.115884
996  2002-09-23  26.623812  32.408973 -17.570757  25.590087
997  2002-09-24  27.221335  33.479513 -17.722957  24.480275
998  2002-09-25  26.851276  32.401026 -18.712882  26.629902
999  2002-09-26  25.808979  31.709772 -18.118046  26.750451

[1000 rows x 5 columns]

In [138]:
df.to_hdf('foo.h5','df')

In [139]:
pd.read_hdf('foo.h5','df')

                    A          B          C          D
2000-01-01  -0.919928   1.081738  -0.186911   0.739160
2000-01-02  -0.270961   1.963527  -0.631587   1.103502
2000-01-03   1.882641   1.855084  -0.800290  -0.113979
2000-01-04   2.851876   0.610934   1.256351  -0.436652
2000-01-05   2.892188  -1.317954   0.619808   0.927255
2000-01-06   4.094697  -3.955532   0.684621   1.695725
2000-01-07   4.112604  -1.901707   1.726961   1.903704
2000-01-08   3.537720  -1.971962   3.350954   3.111633
2000-01-09   6.395478  -3.343957   4.235083   6.348437
2000-01-10   4.506804  -4.301666   3.761705   6.098201
2000-01-11   3.820394  -3.572915   3.535860   5.175339
2000-01-12   3.458146  -1.440174   3.829066   5.932258
2000-01-13   3.531780  -1.921043   3.650361   5.699988
2000-01-14   3.736585  -1.340193   4.088815   5.655213
2000-01-15   3.581510  -2.230484   4.011262   4.440446
2000-01-16   2.942614  -1.832305   1.933797   4.192433
2000-01-17   2.613332  -3.238367   3.494031   3.999749
2000-01-18   4.611238  -3.447495   3.062263   5.474165
2000-01-19   5.192262  -3.408610   2.271601   3.827952
2000-01-20   5.006160  -4.134497   2.538508   2.188973
2000-01-21   2.773312  -5.459046   4.621657   1.894303
2000-01-22   2.442135  -6.164332   4.293115   1.687484
2000-01-23   2.448109  -5.333358   3.358044   1.689873
2000-01-24   3.216344  -5.793664   1.978117   0.445122
2000-01-25   4.203174  -4.604009   2.586009  -0.223096
2000-01-26   4.586604  -3.984405   3.465251  -1.235843
2000-01-27   4.487645  -5.009677   3.423911  -1.737196
2000-01-28   4.199822  -6.279987   4.377824  -2.825481
2000-01-29   3.608006  -5.776560   5.752423  -2.129035
2000-01-30   3.084502  -6.091893   6.255134  -1.392003
...               ...        ...        ...        ...
2002-08-28  22.780061  20.648851 -21.604012  15.742328
2002-08-29  22.933123  22.128622 -21.738120  17.014633
2002-08-30  21.626663  21.535557 -19.564974  18.556905
2002-08-31  22.726063  23.593569 -18.631220  16.634772
2002-09-01  22.108608  22.180184 -18.322060  17.469928
2002-09-02  21.590939  21.943505 -19.179314  17.762106
2002-09-03  21.607837  23.728029 -19.305509  17.661149
2002-09-04  22.023978  24.921333 -19.504191  19.775536
2002-09-05  21.640818  24.468493 -19.798892  20.102941
2002-09-06  21.890561  25.698231 -19.813194  19.117859
2002-09-07  21.126275  25.721356 -19.903672  21.125285
2002-09-08  20.368905  26.675317 -18.654863  20.866159
2002-09-09  20.584284  25.873043 -20.277675  20.736735
2002-09-10  22.968723  26.312450 -19.754751  21.056429
2002-09-11  22.690295  27.823611 -19.797484  22.113665
2002-09-12  23.848687  28.269865 -19.316796  23.027453
2002-09-13  22.588458  28.136116 -18.659905  24.512653
2002-09-14  23.894968  28.479373 -19.395166  25.239211
2002-09-15  25.778426  28.180056 -19.109166  26.221094
2002-09-16  25.906219  29.700355 -19.885183  27.449251
2002-09-17  27.853709  29.811529 -18.097719  26.578918
2002-09-18  25.296754  29.922515 -18.429311  24.477316
2002-09-19  25.091081  30.723172 -17.901037  25.596198
2002-09-20  24.869786  30.221543 -18.306350  28.173137
2002-09-21  24.342214  31.668983 -17.418617  27.616035
2002-09-22  26.174939  32.610929 -17.963764  27.115884
2002-09-23  26.623812  32.408973 -17.570757  25.590087
2002-09-24  27.221335  33.479513 -17.722957  24.480275
2002-09-25  26.851276  32.401026 -18.712882  26.629902
2002-09-26  25.808979  31.709772 -18.118046  26.750451

[1000 rows x 4 columns]

In [140]:
df.to_excel('foo.xlsx', sheet_name='Sheet1')

In [141]:
pd.read_excel('foo.xlsx', 'Sheet1', index_col=None, na_values=['NA'])

                    A          B          C          D
2000-01-01  -0.919928   1.081738  -0.186911   0.739160
2000-01-02  -0.270961   1.963527  -0.631587   1.103502
2000-01-03   1.882641   1.855084  -0.800290  -0.113979
2000-01-04   2.851876   0.610934   1.256351  -0.436652
2000-01-05   2.892188  -1.317954   0.619808   0.927255
2000-01-06   4.094697  -3.955532   0.684621   1.695725
2000-01-07   4.112604  -1.901707   1.726961   1.903704
2000-01-08   3.537720  -1.971962   3.350954   3.111633
2000-01-09   6.395478  -3.343957   4.235083   6.348437
2000-01-10   4.506804  -4.301666   3.761705   6.098201
2000-01-11   3.820394  -3.572915   3.535860   5.175339
2000-01-12   3.458146  -1.440174   3.829066   5.932258
2000-01-13   3.531780  -1.921043   3.650361   5.699988
2000-01-14   3.736585  -1.340193   4.088815   5.655213
2000-01-15   3.581510  -2.230484   4.011262   4.440446
2000-01-16   2.942614  -1.832305   1.933797   4.192433
2000-01-17   2.613332  -3.238367   3.494031   3.999749
2000-01-18   4.611238  -3.447495   3.062263   5.474165
2000-01-19   5.192262  -3.408610   2.271601   3.827952
2000-01-20   5.006160  -4.134497   2.538508   2.188973
2000-01-21   2.773312  -5.459046   4.621657   1.894303
2000-01-22   2.442135  -6.164332   4.293115   1.687484
2000-01-23   2.448109  -5.333358   3.358044   1.689873
2000-01-24   3.216344  -5.793664   1.978117   0.445122
2000-01-25   4.203174  -4.604009   2.586009  -0.223096
2000-01-26   4.586604  -3.984405   3.465251  -1.235843
2000-01-27   4.487645  -5.009677   3.423911  -1.737196
2000-01-28   4.199822  -6.279987   4.377824  -2.825481
2000-01-29   3.608006  -5.776560   5.752423  -2.129035
2000-01-30   3.084502  -6.091893   6.255134  -1.392003
...               ...        ...        ...        ...
2002-08-28  22.780061  20.648851 -21.604012  15.742328
2002-08-29  22.933123  22.128622 -21.738120  17.014633
2002-08-30  21.626663  21.535557 -19.564974  18.556905
2002-08-31  22.726063  23.593569 -18.631220  16.634772
2002-09-01  22.108608  22.180184 -18.322060  17.469928
2002-09-02  21.590939  21.943505 -19.179314  17.762106
2002-09-03  21.607837  23.728029 -19.305509  17.661149
2002-09-04  22.023978  24.921333 -19.504191  19.775536
2002-09-05  21.640818  24.468493 -19.798892  20.102941
2002-09-06  21.890561  25.698231 -19.813194  19.117859
2002-09-07  21.126275  25.721356 -19.903672  21.125285
2002-09-08  20.368905  26.675317 -18.654863  20.866159
2002-09-09  20.584284  25.873043 -20.277675  20.736735
2002-09-10  22.968723  26.312450 -19.754751  21.056429
2002-09-11  22.690295  27.823611 -19.797484  22.113665
2002-09-12  23.848687  28.269865 -19.316796  23.027453
2002-09-13  22.588458  28.136116 -18.659905  24.512653
2002-09-14  23.894968  28.479373 -19.395166  25.239211
2002-09-15  25.778426  28.180056 -19.109166  26.221094
2002-09-16  25.906219  29.700355 -19.885183  27.449251
2002-09-17  27.853709  29.811529 -18.097719  26.578918
2002-09-18  25.296754  29.922515 -18.429311  24.477316
2002-09-19  25.091081  30.723172 -17.901037  25.596198
2002-09-20  24.869786  30.221543 -18.306350  28.173137
2002-09-21  24.342214  31.668983 -17.418617  27.616035
2002-09-22  26.174939  32.610929 -17.963764  27.115884
2002-09-23  26.623812  32.408973 -17.570757  25.590087
2002-09-24  27.221335  33.479513 -17.722957  24.480275
2002-09-25  26.851276  32.401026 -18.712882  26.629902
2002-09-26  25.808979  31.709772 -18.118046  26.750451

[1000 rows x 4 columns]